body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #111;
}

.logo img {
    width: 120px;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color:#3a5d8e;
}

.hero {
    background: url('dsc04821.jpg') no-repeat center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 20px;
}

.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}

.hero h1 {
    font-size: 2.5em;
    position: relative;
}

.hero span {
    color: #537bb4;
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0;
    position: relative;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #3a5d8e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.btn:hover {
    background: #2b4c7e; 
}

.services {
    padding: 50px 20px;
    background: #111;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    background: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    transition: 0.3s;
}


.service:hover {
    background: #3a5d8e;
    color: #111;
}


.service:hover h3 {
    color: white;
}


.contact {
    padding: 50px 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.contact button {
    background: #3a5d8e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;          
    margin: 0 auto;          
    text-align: center;      
}


footer {
    background: #111;
    padding: 15px;
    margin-top: auto;
}

footer img {
    width: 180px;
    height: 200px;
}

footer p {
    margin-top: 0px;
}


#pres-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.presentation {
    width: 50%;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.presentation img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.pres-content {
    padding: 10px;
    text-align: center;
}

.presentation h2 {
    color: #3a5d8e;
}

.presentation p {
    color: #ccc;
    margin: 10px 0;
}

.presentation .prix {
    font-size: 1.5em;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    padding-top: 50px; 
}

.card, .card1 {
    margin: 0; /
}

.card {
    border-radius: 16px;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    max-width: 100%;
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    color: transparent;  
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.info p {
    line-height: 30px;
}

.info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('brabus\ face.jpg');
    filter: blur(0px);
    background-size: cover;
    opacity: 0.20;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 0.3s ease-out;
}

.card:hover .info {
    color: white; /* Le texte devient visible quand on survole */
    transform: translateY(0) translateZ(0);
}

.card:hover .info:before {
    opacity: 0; /* Cache l'image de fond en survol */
}


.card1 {
    border-radius: 16px;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    max-width: 100%;
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.info1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    color: transparent; /* Rendre le texte invisible par défaut */
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.info1 p {
    line-height: 30px;
}

.info1:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('fefe.png');
    filter: blur(0px);
    background-size: cover;
    opacity: 0.20;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 0.3s ease-out;
}

.card1:hover .info1 {
    color: white; 
    transform: translateY(0) translateZ(0);
}

.card1:hover .info1:before {
    opacity: 0; 
}
.card2 {
    border-radius: 16px;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    max-width: 100%;
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.info2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    color: transparent; 
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.info2 p {
    line-height: 30px;
}

.info2:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('c3.jpg');
    filter: blur(0px);
    background-size: cover;
    opacity: 0.20;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 0.3s ease-out;
}

.card2:hover .info2 {
    color: white; 
    transform: translateY(0) translateZ(0);
}

.card2:hover .info2:before {
    opacity: 0; 
}
.card3 {
    border-radius: 16px;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    max-width: 100%;
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.info3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    color: transparent; 
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.info3 p {
    line-height: 30px;
}

.info3:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('multiplat.jpg');
    filter: blur(0px);
    background-size: cover;
    opacity: 0.20;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 0.3s ease-out;
}

.card3:hover .info3 {
    color: white; 
    transform: translateY(0) translateZ(0);
}

.card3:hover .info3:before {
    opacity: 0; 
}

h3 {
    font-size: 1.8em;
    color: #3a5d8e;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #ddd;
    line-height: 2.5;
    font-weight: 500;
}

.prix {
    font-size: 1.5em;
    font-weight: bold;
    color: #3a5d8e;
    display: block;
    margin-top: 10px;
}

/* Section Réservation */
.reservation {
    padding: 50px 20px;
    text-align: center;
    background: #111;
    color: white;
}

.reservation h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3a5d8e;
}

.reservation h2 {
    font-size: 1.8em;
    margin-top: 30px;
    color: #3a5d8e;
}


form {
    max-width: 500px;
    margin: auto;
    background: #222;
    padding: 30px;
    border-radius: 16px;
}

.form-group {
    margin: 15px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #aaa;
}

input, select {
    width: 97%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
}

input::placeholder {
    color: #888;
}

button.btn {
    display: inline-block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #3a5d8e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s ease-in-out;
    cursor: pointer;
    border: none;
}

button.btn:hover {
    background: #2b4c7e;
    transform: scale(1.05);
}


.circuit {
    padding: 50px 20px;
    text-align: center;
    background: #111;
    color: white;
}

.circuit h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3a5d8e;
}

.circuit p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.circuits-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.circuit-card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.circuit-card img {
    width: 100%;
    border-radius: 16px;
}

.circuit-card h3 {
    margin: 10px 0;
    color: white;
}

.circuit-card p {
    margin-top: -10px;
    font-size: 0.9em;
    color: #aaa;
}

.circuit-card .prix {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #3a5d8e;
    margin: 10px 0;
}

.circuit-card .btn {
    display: inline-block;
    padding: 10px;
    background: #3a5d8e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.circuit-card .btn:hover {
    background: #2b4c7e;
}

.circuit-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(58, 93, 142, 0.7);
}

.contact {
    padding: 50px 20px;
    text-align: center;
    background: #111;
    color: white;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3a5d8e;
}

.contact p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact form {
    max-width: 400px;
    margin: auto;
    background: #222;
    padding: 30px;
    border-radius: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    margin: 10px 0;
}

.contact button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background: #3a5d8e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s ease-in-out;
    cursor: pointer;
    border: none;
}

.contact button:hover {
    background: #2b4c7e;
    transform: scale(1.05);
}

.contact-page {
    padding: 50px 20px;
    text-align: center;
    background: #111;
    color: white;
}

.contact-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3a5d8e;
}

.contact-page p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 900px;
    margin: auto;
}

.contact-info {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    text-align: left;
}

.contact-info h2,
.contact-info h3 {
    color: #3a5d8e;
}

.contact-info p {
    font-size: 1em;
    margin: 10px 0;
    color: #ddd;
}

/*  Carte Google Maps */
.map-container {
    border-radius: 10px;
    overflow: hidden;
}

.contact-form {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    text-align: left;
}

.contact-form h2 {
    color: #3a5d8e;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    margin: 10px 0;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background: #3a5d8e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s ease-in-out;
    cursor: pointer;
    border: none;
}

.contact-form button:hover {
    background: #2b4c7e;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    
    .contact-info,
    .contact-form {
        width: 100%;
    }
}

#weather-monaco, #weather-paul-ricard, #weather-nurburgring {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    margin-top: -40px;
}

#weather-monaco p, #weather-paul-ricard p, #weather-nurburgring p {
    margin: 5px 0;
    line-height: 1.2;
}